

/* Contenedor del modal de preguntas de seguridad */
#security-questions-modal {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    background: rgba(0,0,0,0.4);
    z-index: 1000;
    align-items: center;
    justify-content: center;
}

/* Caja interna del modal */
#security-questions-modal .modal-content {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    width: 350px;
    margin: auto;
    box-shadow: 0 8px 32px rgba(0,0,0,0.2);
}

#security-questions-modal h3 {
    margin-bottom: 18px;
    color: #3b15a3;
    text-align: center;
}

#security-questions-form > div {
    margin-bottom: 15px;
}

#security-questions-form label {
    display: block;
    font-weight: 600;
    margin-bottom: 6px;
    color: #333;
}

#security-questions-form select{
    width: 100%;
    padding: 8px;
    margin-bottom: 4px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 0.95rem;
}

#security-questions-form input[type="text"] {
    padding: 8px;
    margin-bottom: 4px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 0.95rem;
}

#security-questions-form button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #640bd7;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

#security-questions-form button[type="submit"]:hover {
    background-color: #681594;
}